
body {
	font-family: 'Roboto', 'helvetica', sans-serif;
	color: #fff;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', 'helvetica', sans-serif;
	font-weight: 300;
}

p {
	line-height: 2;
}

/* === SECTION BACKGROUNDS AND STYLES === */

header {
	padding: 50px 0 75px;
	background: linear-gradient(to top, #e77e04, #fff 20%);
}

.bar_orange {
	background-image: url(../images/intro_bg.jpg);
	background-size: cover;
	position: relative;
}

.bar_orange:after {
	content: '';
	background-image: url(../images/intro_phone.png);
	position: absolute;
	height: 554px;
	width: 325px;
	bottom: 50px;
	right: 100px;
	overflow: visible;
}

.bar_orange_bottom_gradient {
	background: linear-gradient(to bottom, #e77e04, #fff 80%);
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
}

.bar_grey {
	background: linear-gradient(to bottom, #fff, #eee 15%, #eee 85%, #fff);
	padding: 100px 0;
}

.section_main {
	padding: 50px 0 100px;
}

.section_features {
	background: #fff;
	font-size: 16px;
	color: #777;
	padding: 100px 0;
	text-align: center;
}

.section_download {
	background: #fff;
	padding: 100px 0;
}

footer {
}

/* === LINKS === */

a:link,
a:visited {
	text-decoration: none;
}

/* === HEADER === */

.header {
	height: 60px;
}

.header_content:before {
	content: '';
	background-image: url(../images/icon_sprite.png);
	background-position: 0px 0px;
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
} 

.header_content {
	height: 60px;
}

.logo_bold {
	font-weight: 600;
}

h1 {
	font-family: 'Roboto';
	line-height: 60px;
	font-size: 30px;
	color: #2b3f4c;
	float: left;	
	margin: 0;
	padding-left: 20px;
	display: inline-block;
}

/* === SECTION 1 === */

.section_main h2 {
	font-size: 70px;
	color: #fff;
	margin: 0;
}

.section_main p {
	font-size: 20px;
	font-weight: 100;
}

.download_button {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	color: #e77e04;
	background: #fff;
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 200px;
}

/* === SECTION 2 === */

.section_features h3 {
	font-size: 26px;
	color: #e77e04;
	text-transform: uppercase;
	text-align: center;
}


.feature_tag,
.feature_cloud,
.feature_map {
	text-align: center;
}

.feature_item:before {
	content: '';
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}

.feature_tag:before {
	background-position: 0px -120px;
	height: 65px;
	width: 65px;
}

.feature_cloud:before {
	background-position: -80px -120px;
	height: 65px;
	width: 75px;
}

.feature_map:before {
	background-position: -160px -120px;
	height: 65px;
	width: 65px;
}

/* === SECTION 3 === */

.section_3 h2 {
	font-size: 36px;
	color: #2b3f4c;
}

.section_3 p {
	font-size: 16px;
	color: #777;
}

.img_1:after,
.img_2:after,
.img_3:after,
.img_4:after,
.img_5:after,
.img_6:after,
.img_7:after,
.img_8:after,
 {
	content: '';
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

 .img_1:after {
 	content: '';
	background-image: url(../images/photos/01.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_2:after {
	content: '';
	background-image: url(../images/photos/02.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_3:after {
	content: '';
	background-image: url(../images/photos/03.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_4:after {
	content: '';
	background-image: url(../images/photos/04.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_5:after {
	content: '';
	background-image: url(../images/photos/05.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_6:after {
	content: '';
	background-image: url(../images/photos/06.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_7:after {
	content: '';
	background-image: url(../images/photos/07.jpg);
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
}

.img_8:after {
	content: '';
	background-image: url(../images/photos/08.jpg);	
	height: 150px;
	width: 150px;
	background-size: cover;
	display: block;
	padding: 50px;
}

/* === 	SECTION DOWNLOAD === */

.section_download {
	text-align: center;
	padding: 100px 0;
}

.section_download h3 {
	font-size: 40px;
	color:  #e77e04;
	margin: 0;
}

.section_download p {
	font-size: 18px;
	color: #777;
}


.section_download_button {
	height: 50px;
	width: 200px;
	text-align: center;
	background: black url(../images/icon_sprite.png) no-repeat;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
	margin: 0 5px;
	text-align: center;
}


.download_apple {
	background-position: center -200px;
}

.download_google {
	background-position: center -260px;
}

.download_amazon {
	background-position: center -320px;
}


/* === FOOTER === */

.footer {
	border-top: 1px solid #777;
	padding: 25px 0;
}

.support {
	display: block;
	float: left;
}

.support a {
	font-size: 16px;
	color: #2b3f4c;
	display: inline-block;
	float: left;
	margin-right: 20px;
	height: 40px;
	line-height: 40px;
}

.copyright {
	color: #777;
}

.support p a:link,
.support p a:visited {
	color: #2b3f4c;
}

.copy p a:link,
.copy p a:visited {
	color: #777;
}

.social_links {
	float: right;
	list-style-type: none;
	margin: 0;
}

.social_button {
	content: '';
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	display: inline-block;
}

.facebook{
	background-position: -80px 0px;
}

.twitter{
	background-position: -120px 0px;
}

.google_plus{
	background-position: -160px 0px;
}

/* ==== CLEARFIX ==== */

.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear:both;
}

.clear {
	clear:both;
}

/*
= 	=	=	=
MEDIA QUERIES
=	=	=	=
*/

/* == XS = */
@media screen and (max-width: 499px) {

}

/* == SM == */
@media screen and (max-width: 739px) {

	.section_main a {
		text-align: center;
	}

	.download_button {
		width: 100%;
	}

	.bar_orange:after {
		content: '';
		display: none;
	}
	
	.apple,
	.google,
	.amazon {
		margin: 5px auto;
		width: 100%;
		height: 50px;
		background-color: black;
		border-radius: 5px;
	}

	.download_apple,
	.download_google,
	.download_amazon {
		width: 100%;
		position: static;
	}

	.download_apple:after {
		content: '';
		background-image: url(../images/icon_sprite.png);
		background-position: -50px -200px;
		border-radius: 5px;
		width: 110px;
		height: 50px;
		position: static;
		float: none;
		margin: auto;
		display: block;
	}

	.download_google:after {
		content: '';
		background-image: url(../images/icon_sprite.png);
		background-position: -50px -260px;
		border-radius: 5px;
		width: 110px;
		height: 50px;
		text-align: center;
		margin: auto;
		display: block;
	}

	.download_amazon:after {
		content: '';
		background-image: url(../images/icon_sprite.png);
		background-position: -50px -320px;
		width: 110px;
		height: 50px;
		position: static;
		text-align: center;
		margin: auto;
		display: block;
		float: none;
		}

	.social:after {
		text-align: center;
		float: none;
		margin: auto;
	}

	.support, 
	.support a {
		text-align: center;
		margin: auto;
		float: none;
		padding: 10px;
	}
}

/* = MD = */
@media screen and (min-width: 740px) and (max-width: 1199px) {

	.bar_orange:after {
		content: '';
		background-image: url(../images/intro_phone.png);
		position: absolute;
		height: 554px;
		width: 325px;
		bottom: 50px;
		right: -10px;
		overflow: visible;
	}
}

/* = LG = */
@media screen and (min-width: 980px) {

}

/* = XL = */
@media screen and (min-width: 1200px) {

}

