
body {
	font-family: 'Roboto', 'helvetica', sans-serif;
	color: #fff;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', 'helvetica', sans-serif;
	font-weight: 300;
}

p {
	line-height: 2;
}

/* === SECTION BACKGROUNDS AND STYLES === */

header {
	padding: 25px 0 50px;
	background: linear-gradient(to top, #e77e04, #fff 20%);
}

.bar_orange {
	background-image: url(../images/intro_bg.jpg);
	background-size: cover;
	position: relative;
}

.bar_orange:after {
	content: '';
	background-image: url(../images/intro_phone.png);
	position: absolute;
	height: 500px;
	width: 325px;
	bottom: 50px;
	right: 100px;
	overflow: visible;
}

.bar_orange_bottom_gradient {
	background: linear-gradient(to bottom, #e77e04, #fff 80%);
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
}

.bar_grey {
	background: #eee;
	padding: 100px 0;
}

.section_main {
	padding: 50px 0 100px;
}

.section_features {
	background: #fff;
	font-size: 16px;
	color: #777;
	padding: 100px 0;
	text-align: center;
}

.section_download {
	background: #fff;
	padding: 100px 0;
}

footer {
}

/* === LINKS === */

a:link,
a:visited {
	text-decoration: none;
}

/* === HEADER === */

.header {
	height: 60px;
}

.header_content:before {
	content: '';
	background-image: url(../images/icon_sprite.png);
	background-position: 0px 0px;
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
} 

.header_content {
	height: 60px;
}

.logo_bold {
	font-weight: 600;
}

h1 {
	font-family: 'Roboto';
	line-height: 60px;
	font-size: 30px;
	color: #2b3f4c;
	float: left;	
	margin: 0;
	padding-left: 20px;
	display: inline-block;
}

/* === SECTION 1 === */

.section_main h2 {
	font-size: 70px;
	color: #fff;
	margin: 0;
}

.section_main p {
	font-size: 20px;
	font-weight: 100;
}

.download_button {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	color: #e77e04;
	background: #fff;
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 200px;
}

/* === SECTION 2 === */

.section_features h3 {
	font-size: 26px;
	color: #e77e04;
	text-transform: uppercase;
	text-align: center;
}

.feature_tag,
.feature_cloud,
.feature_map {
	text-align: center;
}

.feature_item:before {
	content: '';
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}


.feature_tag:before {
	background-position: 0px -120px;
	height: 65px;
	width: 65px;
}

.feature_cloud:before {
	background-position: -80px -120px;
	height: 65px;
	width: 75px;
}

.feature_map:before {
	background-position: -160px -120px;
	height: 65px;
	width: 65px;
}

/* === SECTION 3 === */

.section_thumbnail h2 {
	font-size: 36px;
	color: #2b3f4c;
}

.section_thumbnail p {
	font-size: 16px;
	color: #777;
}

.section_thumbnail_content {
	padding: 75px 0;
	text-align: center;
}

.thumbnail {
	display: block;
}

.thumbnail img {
	width: 100%;
	margin: 10px 0;
}

/* === 	SECTION DOWNLOAD === */

.section_download {
	text-align: center;
	padding: 100px 0;
}

.section_download h3 {
	font-size: 40px;
	color:  #e77e04;
	margin: 0;
}

.section_download p {
	font-size: 18px;
	color: #777;
}


.section_download_button {
	height: 50px;
	width: 200px;
	text-align: center;
	background: black url(../images/icon_sprite.png) no-repeat;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
	margin: 0 5px;
	text-align: center;
}


.download_apple {
	background-position: center -200px;
}

.download_google {
	background-position: center -260px;
}

.download_amazon {
	background-position: center -320px;
}


/* === FOOTER === */

.footer {
	border-top: 1px solid #777;
	padding: 25px 0;
}

.support_links {
	display: block;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.support_links li {
	display: inline-block;
	padding: 5px 0;
}


.privacy,
.support {
	margin-right: 20px;
}

.copy {
	color: #777;
}

.footer_support_content {
	display: inline-block;
}

.support_links li a:link,
.support_links li a:visited {
	color: #2b3f4c;
}
		
			/* SOCIAL LINKS */

.footer_social {
	display: block;
}

.social_links {
	float: right;
	list-style-type: none;
	padding-left: 0;
	display: block;
	margin: 0;
}

.footer_social li {
	display: inline-block;
}

.social_button {
	content: '';
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	display: inline-block;
}

.facebook{
	background-position: -80px 0px;
}

.twitter{
	background-position: -120px 0px;
}

.google_plus{
	background-position: -160px 0px;
}

/* ==== CLEARFIX ==== */

.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear:both;
}

.clear {
	clear:both;
}


/*
= 	=	=	=
MEDIA QUERIES
=	=	=	=
*/

/* == XS = */
@media screen and (max-width: 499px) {

}

/* == SM == */
@media screen and (max-width: 739px) {

	.section_main a {
		text-align: center;
	}

	.download_button {
		width: 100%;
	}

	.bar_orange:after {
		content: '';
		display: none;
	}

	.section_download_button {
		width: 100%;
	}


	/*  FEATURES */

	.section_features {
		padding: 50px 0;
	}

	.section_features h3 {
		text-align: left;
	}

	.feature_tag,
	.feature_cloud,
	.feature_map {
		text-align: left;
	}

	.feature_item:before {
		display: none;
	}

	h3:after {
		content: '';
		background-image: url(../images/icon_sprite.png);
		background-repeat: no-repeat;
		display: inline-block;
		margin-left: 15px;
	}

	.small_feature_tag:after {
		background-position: 0 -80px;
		height: 31px;
		width: 31px;
	}

	.small_feature_cloud:after {
		background-position: -40px -80px;
		height: 25px;
		width: 35px;
	} 

	.small_feature_photo:after {
		background-position: -80px -80px;
		height: 31px;
		width: 25px;
	}

/* === THUMBS === */

	.bar_grey {
		padding: 25px 0 100px;
	}

	.section_thumbnail_content {
		padding: 15px 0;
	}

	.thumbnail img {
		margin: 5px 0;
	}

/* === FOOTER === */

	.footer_social {
		text-align: center;
	}

	.social_links {
		float: none;
		list-style-type: none;
		margin: 15px auto;
		padding-left: 0;
	}

	.support_links {
		text-align: center;
		margin: auto;
		float: none;
	}

	.privacy {
		margin-right: 0;
	}

	.fs-grid .fs-carousel-control {
		  width: 20px !important;
	  	  height: 40px !important;
	}


}

/* = MD = */
@media screen and (min-width: 740px) and (max-width: 1199px) {

	.bar_orange:after {
		content: '';
		background-image: url(../images/intro_phone.png);
		position: absolute;
		height: 554px;
		width: 325px;
		bottom: 50px;
		right: -10px;
		overflow: visible;
	}

	.section_thumbnail_content {
		padding: 0;
	}

	.thumb_margin {
		margin-top: 100px;
	}

}

/* = LG = */
@media screen and (min-width: 980px) {

}

/* = XL = */
@media screen and (min-width: 1200px) {

}


/* Adjustments to Formstone styles */


.fs-grid .carousel.fs-carousel-enabled .fs-carousel-page {
	content: '';
	height: 12px;
	width: 12px;
	color: #333;
	border-style: none;
}

.fs-grid .carousel.fs-carousel-enabled .fs-carousel-item {
	margin: 0;
	padding: 0 5px;
	margin: 0 5px;
}

.fs-grid .carousel.fs-carousel-enabled .fs-carousel-control {
	  width: 30px;
  	  height: 60px;
}

.fs-grid .carousel.fs-carousel-enabled .fs-carousel-control_next {
	border: none;
  right: -2px;
  left: auto;
  background: #fff;
  border-radius: 40px 0 0 40px;
}

/* Create the right arrow */

.fs-grid .carousel.fs-carousel-enabled .fs-carousel-control_next:before {
  border: none;
  border-top: 2px solid black;
  border-right: 2px solid black;
  margin-left: 4.5px;
  margin-right: auto;
  -webkit-transform: rotate(45deg);
  width: 50%;
  height: 25%;
  left: 10%;
}

.fs-grid .fs-carousel-enabled .fs-carousel-control_previous {
	  border: none;
	  border-radius: 0 40px 40px 0;	
	  left: 9px;
	  box-shadow: none;
}

/*Create the left arrow*/

.fs-grid .carousel.fs-carousel-enabled .fs-carousel-control_previous:before {
  border: none;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin-left: 4.5px;
  margin-right: auto;
  -webkit-transform: rotate(45deg);
   width: 50%;
  height: 25%;
  left: 10%;
}

	
	/*
.fs-grid .carousel.fs-carousel-enabled .fs-carousel-control {
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

.fs-grid .carousel button {
	border: none;
}

.fs-grid .fs-carousel-enabled .fs-carousel-control_next:before, .fs-carousel-enabled.fs-carousel-rtl .fs-carousel-control_previous:before {
	margin-left: 10px;
	margin-right: 0;
}
*/
