

body {
	font-family: 'Lato', helvetica, sans-serif;
	color: #fff;
	background: #222;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111;
	font-family: "Sanchez", serif;
	font-weight: normal;
	line-height: 1.2;
	margin: 25px 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

p {
	margin: 15px 0;
}

/* Bars */

.bar {
	background: #222;
	clear: both;
	overflow: hidden;
	padding: 100px 0;
	width: 100%;
}

.bar_black {
	background-color: #111;
	color: #fff;
}

.bar_gold {
	background-color: #AC8420;
}


.header {
	background: #222 url(../images/header.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding: 150px 0 75px;
}


.logo-1 {
	padding-bottom: 20px;
	color: #fff;
}


.logo-1:before {
	background: url('../images/logo_large.png') no-repeat center;
	content: '';
	display: block;
	margin: 0 auto 20px;
	height: 100px;
	width: 100px;
}

.intro {
	font-size: 15px;
	color: #ccc;
	margin: 0 0 20px;
	text-align: center;
}

/*
= = MENU = = 
*/

/*
.border {
	border: 2px solid white;
}
*/


.no-border {
	border: none;
}

.border-bottom {

}

.h2-coffee {
	text-align: center;
}

.menu-item {
	margin: 0 0 20px;
	border-bottom: 2px solid #9B761C;
	padding: 0 0 15px;
}

.menu-price {
	color: #DECC9C;	
	text-align: right;
	padding-right: 20px;
}


/*
= 	=	=	=
MEDIA QUERIES
=	=	=	=
*/


/* = SM = */
@media screen and (min-width: 740px) {

	h1 {
		font-size: 60px;
	}

	.intro {
		font-size: 22px;
	}

}

/* = M = */
@media screen and (min-width: 980px) {

	.menu-price {
		text-align: left;
	}

}

/* = L = */
@media screen and (min-width: 740px) {
	
}

/* = XL = */
@media screen and (min-width: 740px) {
	
}

