

body {
	font-family: 'Lato', helvetica, sans-serif;
	color: #fff;
	background: #222;
	letter-spacing: .085em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111;
	font-family: "Sanchez", serif;
	font-weight: normal;
	line-height: 1.2;
	margin: 25px 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
	margin: 0px 0 15px;
}

p {
	margin: 15px 0;
}

/* Bars */

.bar {
	background: #222;
	clear: both;
	overflow: hidden;
	padding: 50px 0;
	width: 100%;
}

.bar_black {
	background-color: #111;
	color: #fff;
}

.bar_gold {
	background-color: #AC8420;
}


.header {
	background: #222 url(../images/header.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding: 75px 0 75px;
}


.logo-1 {
	padding-bottom: 20px;
	color: #fff;
}


.logo-1:before {
	background: url('../images/logo_large.png') no-repeat center;
	content: '';
	display: block;
	margin: 0 auto 20px;
	height: 100px;
	width: 100px;
}

.intro {
	font-size: 15px;
	color: #ccc;
	margin: 0 0 20px;
	text-align: center;
}

/*
===========
Clearfix
===========
*/

.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear:both;
}

.clear {
	clear:both;
}


/*
= = MENU = = 
*/


.border {
	border: 2px solid black;
}


.no-border {
	border: none;
}

.border-bottom {

}

.h2-coffee,
.h2-espresso {
	text-align: center;
	padding: 25px 0;
	margin: auto;
}

.h2-espresso {
	padding: 50px 0 25px;
}

.menu-item, 
.menu-item-last,
.menu-item-2-last {
	margin: 0 0 20px;
	border-bottom: 2px solid #9B761C;
	padding: 0 0 15px;
}

.menu-item-last {
	border: none;
}

.menu-price {
	color: #DECC9C;	
	text-align: right;
	padding-right: 20px;
}

.menu {
	list-style-type: none;
	width: 100%;
	padding: 0px;
}

.menu li {
	border-bottom: 2px solid #9B761C;	
	padding: 10px 0px 15px;
}

.menu li:nth-child(odd) {
	width: 48% ;
	float: left;
}

.menu li:nth-child(even) {
	float: right;
	width: 48%;
}

.menu li span:nth-child(odd) {
	font-size: 16px;
}

.menu li span:nth-child(even) {
	color: #DECC9C;
	float: right;
}

.menu li.no-border {
	border: none;
}

.menu-price {
	float: right;
}

/*
=	=	=	=
	HOURS
=	=	=	=
*/

.hours {
	background: #fff;
}

.location {
	vertical-align: top;
}

.line-height {
	line-height: 1.5em;
}

.hours p {
	color: #666;
}

.img-1 {
	padding: 0;
	margin: 0;
}

.location-img {
	width: 275px;
	height: auto;
}

.button {
	border: 2px solid #AC8420;
	cursor: pointer;
	color: #AC8420;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	padding: 20px 20px;
	display: inline-block;
	margin: 15px 0;
}

a:link {color: #AC8420;
		text-decoration: none;
}

a:hover {color: #fff;
		background: #AC8420;
		border: #666;
}

/*
=	=	=	=
FOOTER
=	=	=	=
*/

footer {
	padding: 50px 0 50px;
	font-size: 12px;
}

.copy,
.social,
.logo-2 {
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: 20px 0;
	text-align: center;
}

.social {
	text-transform: uppercase;
	padding: 0;
	text-align: center;
}

.social ul {
	padding-left: 0;
}

.inline li {
	display: inline-block;
}

.inline li:after{
	content: '\00b7';
	margin: 0px 2.5px 0 5px;
}

.inline li:last-child:after {
	content: '';
}

/*
= 	=	=	=
MEDIA QUERIES
=	=	=	=
*/


/* = SM = */
@media screen and (min-width: 740px) {

	h1 {
		font-size: 60px;
	}

	.intro {
		font-size: 22px;
	}

	.menu-item-last,
	.menu-item-2-last {
		border:none;
	}

	/* HOURS */

	.button {
		text-align: center;
	}

	/* FOOTER */

	.copy,
	.logo-2,
	.social {
		padding: 0 50px;
	}

}

/* = M = */
@media screen and (min-width: 980px) {

	.header {
		padding: 150px 0 75px;
	}

	.bar {
		padding: 100px 0;
	}

	.menu-price {
		text-align: left;
	}

	.location-img {
	width: auto;
	height: auto;
	}

}

/* = L = */
@media screen and (min-width: 740px) {
	
	footer {
		padding: 100px 0;
	}
	
	.inline li:nth-child(3n-1):after {
		content: '';
	}

	.location-img {
	width: auto;
	height: auto;
	}

}

/* = XL = */
@media screen and (min-width: 740px) {
	
	.inline li:last-child:after {
		content: '';
	}

	footer {
		padding: 120px 0;
	}

}

