



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'georgia';
	color: #222;
	line-height: 1.8;
}

a,
a:visited {
	color: #222;
}

figcaption,
ol ol li,
ol ol a,
ol ol a:visited
{
	color: #666;
}

div, 
header, 
nav, 
section, 
blockquote, 
footer,
.figcap-1 {
	width: 60%;
	margin: 10px auto;
}

header, figcaption, h1, h2, h3 {
	font-family: 'Open Sans', helvetica, sans-serif;
}

header {
	margin-bottom: 50px;
}

header p {
	font-size: 20px;
	text-align: center;
	color: #999;
}

h1, h2, h3 {
	font-size: 60px;
	font-weight: 800;
}

h1 {
	text-align: center;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

img {
	border: 1px solid #ccc;
}

.container-lrg {
	width: 100%;
}

.img1, .img2, .list-2 {
	display: block;
}

.img1 { 
	margin-left: auto;
	margin-right: auto;
}

.img2 {
	float: right;
	width: 50%;
	margin-left: 50px;
	/*margin: 0px -20% 0px 10px;*/
}

.nav {
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	color: #999;
}


figcaption {
	font-size: 14px;
}

nav {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding: 50px 0px;
	margin: 50px auto;
}

ol li {
	font-family: georgia;
	font-size: 20px;
}

ol ol {
	list-style-type: none;
	padding-left: 0px;
}

ol ol li {
	font-family: georgia;
	font-size: 16px;
}


blockquote {
	width: 120%;
	margin-left: -10%;
	margin-right: -10%;
	padding: 20px;
	background-color: #f6f6f6;
	border-left: 10px solid #e3e3e3;
	font-size: 20px;
	font-style: italic;
}


footer {
	height: 500px;
}


















